
@media only screen and (min-width: 1024px){
    .mobile-menu {
        display: none;
    }

    .menu_area {
        background-color: #444;
    }

    .s-menu{}
    .s-menu nav{}
    .s-menu nav >ul {
        margin: 0;
        text-align: right;
        padding-left: 0px;
    }
    .s-menu nav > ul  li {
        display: inline-block;
        position: relative;
    }
    .s-menu nav > ul li a {
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        padding: 20px 15px;
        color: #ffffff;
    }
    .menu-item-has-children.has-submenu{}
    .menu-item-has-children.has-submenu > ul.sub-menu {
        position: absolute;
        left: 0;
        top: 65px;
        background: #444444;
        width: 159px;
        z-index: 9;
        padding: 0;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
    }
    .menu-item-has-children.has-submenu:hover > ul.sub-menu {
        top: 58px;
        opacity: 1;
        visibility: visible;
        left: 0;
    }
    .menu-item-has-children.has-submenu > ul.sub-menu li{
        display: block;
    }
    .menu-item-has-children.has-submenu > ul.sub-menu li a {
        padding: 8px 0px 8px 15px;
    }
    .menu-item-has-children.has-submenu > ul.sub-menu li a:hover{
        background-color: black;
    }
    .menu-item-has-children ul.sub-menu {
        position: absolute;
        left: 110%;
        top: 0;
        padding: 0;
        width: 160px;
        background: #444444;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
    }
    .menu-item-has-children:hover >ul.sub-menu{
        left: 100%;
        opacity: 1;
        visibility: visible;
    }
    .s-menu nav > ul li.menu-item-has-children.has-submenu>ul.sub-menu {}

    .s-menu nav > ul li.menu-item-has-children.has-submenu>ul.sub-menu>li.menu-item-has-children {}

    .s-menu nav > ul li.menu-item-has-children.has-submenu>ul.sub-menu>li.menu-item-has-children:hover >ul.sub-menu {
        left: -100%;
    }

}

@media only screen and (max-width: 1023px) {
    /* Nav ScrollBar */
    .mobile-menu ul.slicknav_nav::-webkit-scrollbar-track{
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
        border-radius: 10px;
        background-color: transparent;
    }

    .mobile-menu ul.slicknav_nav::-webkit-scrollbar
    {
        border-radius: 10px;
        width: 4px;
        background-color: transparent;
    }

    .mobile-menu ul.slicknav_nav::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #000;
    }
    /* .desktop-menu {
        display: none;
    } */
    header.headerV1 {
        background-color: rgba(0, 0, 0, 0.25);
    }
    .shopping-cart {
        margin-top: 0px;
    }
    .desktop-menu .s-menu nav .mainMenu{
        display: none;
    }
    .mobile-menu {
        position: relative;
    }
    .mobile-menu .mobile-menu-logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .search-and-cart-btn {
        position: relative;
        display: inline-block;
        padding-top: 8px;
    }


    .mobile-menu .slicknav_menu {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin: 5px auto;
        padding: 10px;
    }

    .mobile-menu .slicknav_nav a {
        color: #fff;
        background-color: transparent;
    }

    .mobile-menu a.slicknav_item:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .mobile-menu .slicknav_nav ul {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 15px;
        border-radius: 5px;
    }

    .mobile-menu ul.slicknav_nav {
        overflow: scroll;
        overflow-x: hidden;
        max-height: 420px;
    }

    .headerV1.navbar-fixed-top .desktop-menu {
        background-color: rgba(0, 0, 0, .5);
        margin: 5px auto;
        border-radius: 5px;
        padding: 0px 5px;
    }


    .desktop-menu {
        display: none;
    }

}
