# Created by .ignore support plugin (hsz.mobi)

*.py[cod]
*.env
.idea
.DS_Store

logs/*
!logs/index.html

# Translations
*.mo
*.pot

download/

.coverage
htmlcov/
.coveralls.yml

# Elasticsearch
docker/Elasticsearch/data/
docker/Elasticsearch/logs/

# InfluxDB
docker/InfluxDB/data/

# MariaDB
docker/MariaDB/backup/
docker/MariaDB/data/
docker/MariaDB/log/

# Nginx
docker/Nginx/logs/

# Redis
docker/Redis/data/

# RabbitMQ
docker/RabbitMQ/data/


# Config
config/*
!config/__init__.py
!config/default.py

env_*.sh
!env_default.sh

# gitbook
docs/_book/*
docs/node_modules
docs/package-lock.json

# databases backup
db/backup/*
!db/backup/README.md

# sync
sync/*
