Babel==2.5.3
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Excel==0.0.7
Flask-Login==0.4.1
Flask-Moment==0.6.0
Flask-OAuthlib==0.9.4
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
gunicorn==19.7.1
idna==2.6
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.10
lml==0.0.1
MarkupSafe==1.0
meld3==1.0.2
MySQL-python==1.2.5
oauthlib==2.0.7
Pillow==5.0.0
pyexcel==0.5.7
pyexcel-io==0.5.6
pyexcel-webio==0.1.4
pymongo==3.6.1
pytz==2018.3
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
sqlacodegen==1.1.6
SQLAlchemy==1.2.5
supervisor==3.3.4
texttable==1.2.1
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
