<div class="modal fade" id="customer_select_modal" tabindex="-1" role="dialog" aria-labelledby="customer_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="customer_label">{{ _('Customer Search') }}</h4>
            </div>
            <div class="modal-body">
                <iframe name="customer_search_iframe" src="" width="100%" height="100%" frameborder="no" marginwidth="0" marginheight="0" allowtransparency="yes" style="min-height: 300px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                <button type="button" class="btn btn-primary" id="customer_select_confirm_btn">{{ _('Submit') }}</button>
            </div>
        </div>
    </div>
</div>