<script>
    $(function () {
        var line_edit_obj

        // 产品选择搜索
        $('.production_select_search_btn').on('click', function () {
            line_edit_obj = $(this).parents('.items_line')
            var production_model_input = line_edit_obj.find('input.production_model')
            var keywords = production_model_input.val()
            $.session.set('production_keywords', keywords)
            if (!keywords) {
                alert('{{ _("production model is empty") }}')
                production_model_input.focus()
                return false
            } else {
                $('iframe[name="production_search_iframe"]').attr('src', '{{ url_for("production.search") }}')
            }
        })

        // 产品选择确认
        $('#production_select_confirm_btn').on('click', function () {
            var production_id = $.session.get('production_id')
            if (!production_id) {
                alert('{{ _("Please select a production") }}')
                return false
            } else {
                var production_brand = $.session.get('production_brand')
                var production_model = $.session.get('production_model')
                var production_sku = $.session.get('production_sku')

                $(line_edit_obj).find('input[name$="production_id"]').val(production_id)

                $(line_edit_obj).find('input.production_brand').val(production_brand)
                $(line_edit_obj).find('input.production_model').val(production_model)
                $(line_edit_obj).find('input.production_sku').val(production_sku)

                $(line_edit_obj).find('span.production_brand').text(production_brand)
                $(line_edit_obj).find('span.production_model').text(production_model)
                $(line_edit_obj).find('span.production_sku').text(production_sku)
                $('#production_select_modal').modal('hide')
            }
        })

        $('#production_select_modal').on('hidden.bs.modal', function () {
            $.session.clear()
        })
    })
</script>