{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-user').trigger('click')">{{ _('user management') }}</a></li>
            <li class="active">{{ _('user edit') }}</li>
        </ol>
        <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

        <form class="form-horizontal" method="post" action="">
            {{ form.csrf_token }}
            {{ form.id }}
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                {{ form.name.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.name(class="form-control", title=form.name.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.name.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.salutation.errors %} has-error{% endif %}">
                {{ form.salutation.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.salutation(class="form-control", title=form.salutation.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.salutation.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.mobile.errors %} has-error{% endif %}">
                {{ form.mobile.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.mobile(class="form-control", title=form.mobile.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.mobile.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.tel.errors %} has-error{% endif %}">
                {{ form.tel.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.tel(class="form-control", title=form.tel.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.tel.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.fax.errors %} has-error{% endif %}">
                {{ form.fax.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.fax(class="form-control", title=form.fax.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.fax.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                {{ form.email.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.email(class="form-control", title=form.email.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.email.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.role_id.errors %} has-error{% endif %}">
                {{ form.role_id.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.role_id(class="form-control", title=form.role_id.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.role_id.description }}</span>
                </div>
            </div>
            <div class="form-group">
                {{ form.create_time.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    <p class="form-control-static">{{ moment(form.create_time.data).format('YYYY-MM-DD HH:mm:ss') }}</p>
                </div>
            </div>
            <div class="form-group">
                {{ form.update_time.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    <p class="form-control-static">{{ moment(form.update_time.data).format('YYYY-MM-DD HH:mm:ss') }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-sm btn-load"
                            data-loading-text="{{ _('Submitting') }}">{{ _('Submit') }}</button>
                    <button type="reset" class="btn btn-default btn-sm">{{ _('Reset') }}</button>
                    <button class="btn btn-default btn-sm"
                            onclick="history.back(); return false">{{ _('Go Back') }}</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
