{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-purchase').trigger('click')">{{ _('purchase management') }}</a></li>
            <li class="active">{{ _('purchase add') }}</li>
        </ol>

        <form id="purchase_add" class="form-inline" method="post">
            {{ form.csrf_token }}
            {{ form.warehouse_changed }}

            <div class="form-group{% if form.supplier_cid.errors or form.supplier_company_name.errors %} has-error{% endif %}">
                {{ form.supplier_cid() }}
                {{ form.supplier_company_name.label() }}
                <div class="input-group">
                    {{ form.supplier_company_name(
                        class="form-control input-sm",
                        title=form.supplier_cid.errors|join(', ') or form.supplier_company_name.errors|join(', '),
                        autocomplete="off"
                        ) }}
                    <span class="input-group-addon glyphicon glyphicon-option-horizontal supplier_select_search_btn"
                          style="top: 0; cursor:pointer;" data-toggle="modal"
                          data-target="#supplier_select_modal"></span>
                </div>
            </div>
            <div class="form-group{% if form.supplier_contact_id.errors or form.supplier_contact_name.errors %} has-error{% endif %}">
                {{ form.supplier_contact_id() }}
                {{ form.supplier_contact_name.label() }}
                <div class="input-group">
                    {{ form.supplier_contact_name(
                        class="form-control input-sm",
                        title=form.supplier_contact_id.errors|join(', ') or form.supplier_contact_name.errors|join(', '),
                        autocomplete="off"
                        )
                    }}
                    <span class="input-group-addon glyphicon glyphicon-option-horizontal supplier_contact_select_search_btn"
                          style="top: 0; cursor:pointer;" data-toggle="modal"
                          data-target="#supplier_contact_select_modal"></span>
                </div>
            </div>
            <div class="form-group{% if form.warehouse_id.errors %} has-error{% endif %}">
                {{ form.warehouse_id.label() }}
                {{ form.warehouse_id(class="form-control input-sm", title=form.warehouse_id.errors|join(', ')) }}
            </div>
            <div class="form-group{% if form.delivery_way.errors %} has-error{% endif %}">
                {{ form.delivery_way.label() }}
                {{ form.delivery_way(class="form-control input-sm", title=form.delivery_way.errors|join(', ')) }}
            </div>
            <div class="form-group{% if form.note.errors %} has-error{% endif %}">
                {{ form.note.label() }}
                {{ form.note(class="form-control input-sm", title=form.note.errors|join(', ')) }}
            </div>
            <div class="form-group{% if form.uid.errors %} has-error{% endif %}">
                {{ form.uid.label() }}
                {{ form.uid(class="form-control input-sm", title=form.uid.errors|join(', ')) }}
            </div>
            <div class="form-group{% if form.type_tax.errors %} has-error{% endif %}">
                {{ form.type_tax(checked=form.type_tax.data) }}
                {{ form.type_tax.label(rel="tooltip", title=form.type_tax.errors|join(', ')) }}
            </div>

{#            <div class="form-group{% if form.status_order.errors %} has-error{% endif %}">#}
{#                {{ form.status_order.label() }}#}
{#                {{ form.status_order(class="form-control input-sm", title=form.status_order.errors|join(', ')) }}#}
{#            </div>#}
            <div class="form-group{% if form.amount_purchase.errors %} has-error{% endif %}">
                {{ form.amount_purchase.label() }}
                {{ form.amount_purchase(class="form-control input-sm", title=form.amount_purchase.errors|join(', ')) }}
            </div>

            <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->
            <div class="text-center">
                <button type="submit" class="btn-sm btn-success btn-load"
                        data-loading-text="{{ _('Submitting') }}">{{ _('Submit') }}</button>
                <button type="reset" class="btn-sm btn-default">{{ _('Reset') }}</button>
            </div>
            <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

            <div class="table-responsive">
                {#                         <table class="table table-striped">#}
                <table class="table table-hover table-condensed items_table">
                    <thead>
                    <tr>
                        <th>{{ _('#') }}</th>
                        <th></th>
                        <th class="text-right">{{ _('production brand') }}</th>
                        <th>{{ _('production model') }}</th>
                        <th class="text-right">{{ _('quantity') }}</th>
                        <th>{{ _('production sku') }}</th>
                        <th class="text-right">{{ _('unit_price') }}</th>
                        <th>{{ _('rack name') }}</th>
                        <th>{{ _('note') }}</th>
{#                        <th>{{ _('ordered status') }}</th>#}
                        <th>{{ _('Option') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in form.purchase_items %}
                        <tr class="text-muted items_line">
                            <td><span readonly="readonly" class="form-control input-sm">{{ loop.index }}</span></td>
                            <td>
                                {{ info.production_id() }}
                            </td>
                            <td{% if info.production_brand.errors %} class="has-error"{% endif %}>
                                <span style="min-width: 4em;" readonly="readonly"
                                      class="form-control input-sm pull-right text-right production_brand"
                                      title="{{ info.production_brand.errors|join(', ') }}"
                                      rel="tooltip">{{ info.production_brand.data }}</span>
                                {{ info.production_brand(class="hidden production_brand") }}
                            </td>
                            <td class="input-group{% if info.production_id.errors or info.production_model.errors %} has-error{% endif %}">
                                {{ info.production_model(class="form-control input-sm production_model", title=info.production_id.errors|join(', ') or info.production_model.errors|join(', '), style="width: 12em;") }}
                                <span class="input-group-addon glyphicon glyphicon-option-horizontal production_select_search_btn"
                                      style="top: 0; cursor:pointer;" data-toggle="modal"
                                      data-target="#production_select_modal"></span>
                            </td>
                            <td{% if info.quantity.errors %} class="has-error"{% endif %}>
                                {{ info.quantity(class="form-control input-sm pull-right text-right quantity", title=info.quantity.errors|join(', '), style="width: 7em;") }}
                            </td>
                            <td{% if info.production_sku.errors %} class="has-error"{% endif %}>
                                <span style="min-width: 4em;" readonly="readonly"
                                      class="form-control input-sm production_sku"
                                      title="{{ info.production_sku.errors|join(', ') }}"
                                      rel="tooltip">{{ info.production_sku.data }}</span>
                                {{ info.production_sku(class="hidden production_sku") }}
                            </td>
                            <td{% if info.unit_price.errors %} class="has-error"{% endif %}>
                                {{ info.unit_price(class="form-control input-sm pull-right text-right unit_price", title=info.unit_price.errors|join(', '), style="width: 7em;") }}
                            </td>
                            <td{% if info.rack_id.errors %} class="has-error"{% endif %}>
                                {{ info.rack_id(class="form-control input-sm rack_id", title=info.rack_id.errors|join(', '), style="width: 6em;") }}
                            </td>
                            <td{% if info.note.errors %} class="has-error"{% endif %}>
                                {{ info.note(class="form-control input-sm", title=info.note.errors|join(', '), style="width: 6em;") }}
                            </td>
{#                            <td class="{% if info.status_ordered.errors %} text-danger{% endif %}">#}
{#                                {{ info.status_ordered() }}#}
{#                                {{ info.status_ordered.label(rel="tooltip", title=info.status_ordered.errors|join(', ')) }}#}
{#                            </td>#}
                            <td style="min-width: 6em;">
                                <button type="submit" class="input-sm glyphicon glyphicon-plus" name="data_line_add"
                                        value="{{ loop.index0 }}" rel="tooltip" title="{{ _('Add') }}"></button>
                                <button type="submit" class="input-sm glyphicon glyphicon-minus" name="data_line_del"
                                        value="{{ loop.index0 }}" rel="tooltip" title="{{ _('Delete') }}"></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        <hr/>
    </div>

    <!-- 渠道搜索 -->
    {% include "modal/supplier_select.html" %}

    <!-- 联系方式搜索 -->
    {% include "modal/supplier_contact_select.html" %}

    <!-- 产品搜索 -->
    {% include "modal/production_select.html" %}


{% endblock %}

{% block extra_js %}
<!-- 渠道搜索 -->
{% include "modal/supplier_select_js.html" %}
<!-- 联系方式搜索 -->
{% include "modal/supplier_contact_select_js.html" %}
<!-- 产品搜索 -->
{% include "modal/production_select_js.html" %}
<!-- 采购进货总额 -->
<script src="{{ url_for('static', filename='js/common/amount_purchase.js', v='1.5.24') }}"></script>
<script>
    $(function () {
        //级联选择
        $('#warehouse_id').change(function () {
            $('.rack_id').selectedIndex = 0
            $('#warehouse_changed').attr('value','y');
            $('#purchase_add').submit()
        })
    })
</script>
{% endblock %}
