{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-enquiry').trigger('click')">{{ _('enquiry management') }}</a></li>
            <li class="active">{{ _('enquiry item lists') }}</li>
        </ol>
        <form method="post">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSearch">
                    <h4 class="panel-title panel-title-sm">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch"
                           aria-expanded="true" aria-controls="collapseSearch">
                            {{ _('Search toolbar') }}
                            <span class="panel_resize_btn glyphicon glyphicon-chevron-up pull-right"
                                  style="cursor: pointer;" title="{{ _('Resize') }}" rel="tooltip"
                                  data-placement="left"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingSearch">
                    <div class="panel-body">
                        <div class="form-inline">
                            {{ form.csrf_token }}

                            <div class="form-group{% if form.supplier_cid.errors or form.supplier_company_name.errors %} has-error{% endif %}">
                                {{ form.supplier_cid() }}
                                {{ form.supplier_company_name.label() }}
                                <div class="input-group">
                                    {{ form.supplier_company_name(
                                    class="form-control input-sm",
                                    title=form.supplier_cid.errors|join(', ') or form.supplier_company_name.errors|join(', '),
                                    autocomplete="off"
                                    ) }}
                                    <span class="input-group-addon glyphicon glyphicon-option-horizontal supplier_select_search_btn"
                                          style="top: 0; cursor:pointer;" data-toggle="modal"
                                          data-target="#supplier_select_modal"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-sm{% if form.production_model.errors %} has-error{% endif %}">
                                {{ form.production_model.label() }}
                                {{ form.production_model(class="form-control") }}
                            </div>
                            <div class="form-group form-group-sm{% if form.start_create_time.errors %} has-error{% endif %}">
                                {{ form.start_create_time.label() }}
                                {{ form.start_create_time(class="form-control") }}
                            </div>
                            <div class="form-group form-group-sm{% if form.end_create_time.errors %} has-error{% endif %}">
                                {{ form.end_create_time.label() }}
                                {{ form.end_create_time(class="form-control") }}
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm" name="op"
                                    value="0">{{ _('Search') }}</button>
                        {% if permission_enquiry_section_export.can() %}
                            <button type="submit" class="btn btn-primary btn-sm" name="op"
                                    value="1">{{ _('Export') }}</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                {#         <table class="table table-striped">#}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {#                    <th>#}
                        {#                        <label>#}
                        {#                            <input class="select_all" name="enquiry_item_ids" title="{{- _('Select All') -}}"#}
                        {#                                   rel="tooltip" type="checkbox" value=""/>#}
                        {#                            {{- _('Select All') -}}#}
                        {#                        </label>#}
                        {#                    </th>#}
                        <th>{{ _('enquiry code') }}</th>
                        <th>{{ _('supplier company') }}</th>
                        <th class="bg-warning">{{ _('enquiry production model') }}</th>
                        <th>{{ _('production brand') }}</th>
                        <th>{{ _('production model') }}</th>
                        <th class="text-right">{{ _('quantity') }}</th>
                        <th>{{ _('production sku') }}</th>
                        <th class="text-right">{{ _('unit price') }}</th>
                        <th>{{ _('delivery time') }}</th>
                        <th>{{ _('note') }}</th>
                        <th>{{ _('create time') }}</th>
                        {#                    <th>{{ _('update time') }}</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in pagination.items %}
                        <tr class="text-muted item">
                            {#                        <td>#}
                            {#                            <label>#}
                            {#                                <input class="select_item" name="enquiry_item_id" title="{{ _('Select') }}"#}
                            {#                                       rel="tooltip" type="checkbox" value="{{ info.id }}"/>#}
                            {#                            </label>#}
                            {#                        </td>#}
                            <td><a href="{{ url_for('enquiry.info', enquiry_id=info.enquiry_id) }}" target="_blank">
                                {{ g.ENQUIRIES_PREFIX }}{{ moment(info.enquiry_id | enquiry_create_time).format('YYMMDDHHmmss') }}</a>
                            </td>
                            <td>{{ info.supplier_cid | supplier_company_name }}</td>
                            <td class="bg-warning">{{ info.enquiry_production_model }}</td>
                            <td>{{ info.production_brand }}</td>
                            <td>{{ info.production_model }}</td>
                            <td class="text-right">{{ '{:,}'.format(info.quantity) }}</td>
                            <td>{{ info.production_sku }}</td>
                            <td class="text-right">{{ '{:,}'.format(info.unit_price) }}</td>
                            <td>{{ info.delivery_time }}</td>
                            <td><span rel="tooltip" data-toggle="tooltip" title="{{ info.note }}">{{ info.note | truncate(12, False, '...', 0) }}</span></td>
                            <td>{{ moment(info.create_time).format('YYYY-MM-DD HH:mm:ss') }}</td>
                            {#                        <td>{{ moment(info.update_time).format('YYYY-MM-DD HH:mm:ss') }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {# 翻页 #}
            {% from "macros.html" import render_pagination_post %}
            {{ render_pagination_post(pagination, 'enquiry_item.lists') }}
        </form>
    </div>

    <!-- 渠道搜索 -->
    {% include "modal/supplier_select.html" %}

{% endblock %}

{% block extra_js %}
    <!-- 渠道搜索 -->
    {% include "modal/supplier_select_js.html" %}

{% endblock %}
