<nav class="text-center transparent-panel-footer">
    {#    <div class="container">#}
    Copyright &copy; 2018-2019 {{ PROJECT_NAME }} All Rights Reserved.<br/>{{ ICP_CODE }}
    {#    </div>#}
</nav>
<!-- Top Link -->
{#<span id="top-link-block" class="hidden">#}
{#    <a href="" class="well-sm" id="top-link">#}
{#        <i class="glyphicon glyphicon-plane center-block"></i>#}
{#    </a>#}
{#    <a href="" class="well-sm" id="top-link">#}
{#        <i class="glyphicon glyphicon-qrcode center-block"></i>#}
{#    </a>#}
{#</span>#}
