<div class="hidden-print" style="padding-bottom: 61px;"></div>
<footer class="text-center panel-footer navbar-fixed-bottom">
{#<footer class="text-center panel-footer">#}
{#<footer class="text-center">#}
    <div class="row">
        <div class="col-xs-6 text-left">{{ _('Company Address') }}: 上海市闸北区海宁路1399号701室</div>
        <div class="col-xs-6 text-right">{{ _('Zip Code') }}: 200070</div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-left">{{ _('Tel') }}: 021-51692595</div>
        <div class="col-xs-4">{{ _('Fax') }}: 021-63812670</div>
        <div class="col-xs-4 text-right">{{ _('Website') }}: http://www.xa-skf.com</div>
    </div>
</footer>
