<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="search" class="form-control" placeholder="{{ _('Search') }}...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ url_for('index') }}"><i class="fa fa-home fa-fw"></i> {{ _('management center') }}</a>
            </li>

            <li{% if 'production/' in request.path %} class="active"{% endif %}>
                <a id="menu-production" href="#"><i class="fa fa-gift fa-fw"></i> {{ _('production management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('production.lists') }}">{{ _('production lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('production.add') }}">{{ _('production add') }}</a>
                    </li>
                </ul>
            </li>

            <li{% if 'customer/' in request.path %} class="active"{% endif %}>
                <a id="menu-customer" href="#"><i class="fa fa-table fa-fw"></i> {{ _('customer management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('customer.lists') }}">{{ _('customer lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customer.add') }}">{{ _('customer add') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customer_invoice.lists') }}">{{ _('customer invoice lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customer_contact.lists') }}">{{ _('customer contact lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customer.stats') }}">{{ _('customer stats') }}</a>
                    </li>
                </ul>
            </li>
            <li{% if 'supplier/' in request.path %} class="active"{% endif %}>
                <a id="menu-supplier" href="#"><i class="fa fa-tags fa-fw"></i> {{ _('supplier management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('supplier.lists') }}">{{ _('supplier lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('supplier.add') }}">{{ _('supplier add') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('supplier.stats') }}">{{ _('supplier stats') }}</a>
                    </li>
                    <li>
                        <a id="menu-supplier-contact" href="#">{{ _('address management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('supplier_contact.lists') }}">{{ _('supplier contact lists') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('supplier_contact.add') }}">{{ _('supplier contact add') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li{% if 'user/' in request.path %} class="active"{% endif %}>
                <a id="menu-user" href="#"><i class="fa fa-users fa-fw"></i> {{ _('user management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('user.lists') }}">{{ _('user lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('user.add') }}">{{ _('user add') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('user.stats') }}">{{ _('user stats') }}</a>
                    </li>
                </ul>
            </li>
            <li{% if 'quotation/' in request.path %} class="active"{% endif %}>
                <a id="menu-quotation" href="#"><i class="fa fa-file fa-fw"></i> {{ _('quotation management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('quotation.lists') }}">{{ _('quotation lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('quotation.add') }}">{{ _('quotation add') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('quotation_item.lists') }}">{{ _('quotation item lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('quotation.stats') }}">{{ _('quotation stats') }}</a>
                    </li>
                </ul>
            </li>
            <li{% if 'sales_orders/' in request.path %} class="active"{% endif %}>
                <a id="menu-sales" href="#"><i class="fa fa-briefcase fa-fw"></i> {{ _('sales management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="menu-sales-orders" href="#">{{ _('sales orders management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('sales_orders.lists') }}">{{ _('sales orders lists') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('sales_orders.add') }}">{{ _('sales orders add') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('sales_orders.stats') }}">{{ _('sales orders stats') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li{% if 'buyer_orders/' in request.path %} class="active"{% endif %}>
                <a id="menu-buyer" href="#"><i class="fa fa-cart-plus fa-fw"></i> {{ _('buyer management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="menu-buyer-orders" href="#">{{ _('buyer orders management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('buyer_orders.lists') }}">{{ _('buyer orders lists') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('buyer_orders.add') }}">{{ _('buyer orders add') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('buyer_orders.stats') }}">{{ _('buyer orders stats') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li{% if 'warehouse/' in request.path %} class="active"{% endif %}>
                <a id="menu-warehouse" href="#"><i
                        class="fa fa-building fa-fw"></i> {{ _('warehouse management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('warehouse.lists') }}">{{ _('warehouse lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('warehouse.add') }}">{{ _('warehouse add') }}</a>
                    </li>
                    <li>
                        <a id="menu-rack" href="#">{{ _('rack management') }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('rack.lists') }}">{{ _('rack lists') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('rack.add') }}">{{ _('rack add') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li{% if 'inventory/' in request.path %} class="active"{% endif %}>
                <a id="menu-inventory" href="#"><i class="fa fa-cubes fa-fw"></i> {{ _('inventory management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('inventory.lists') }}">{{ _('inventory lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('inventory.add') }}">{{ _('inventory add') }}</a>
                    </li>
                    <li>
                        <a id="menu-purchase" href="#">{{ _('purchase management') }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('purchase.lists') }}">{{ _('purchase lists') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('purchase.add') }}">{{ _('purchase add') }}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="menu-delivery" href="#">{{ _('delivery management') }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('delivery.lists') }}">{{ _('delivery lists') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('delivery.add') }}">{{ _('delivery add') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li{% if 'system/' in request.path %} class="active"{% endif %}>
                <a id="menu-system" href="#"><i class="fa fa-cog fa-fw"></i> {{ _('system management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="menu-data-import" href="#">{{ _('data import') }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('system.catalogue_import') }}">{{ _('catalogue import') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('system.quotation_import') }}">{{ _('quotation import') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
