<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <form class="input-group custom-search-form" method="post" action="{{ url_for('price.search') }}">
                    <input type="search" name="production_model" class="form-control" placeholder="{{ _('Search') }}..." speech x-webkit-speech onwebkitspeechchange="">
                    <input type="hidden" name="cid" value="0">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </form>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ url_for('index') }}"><i class="fa fa-home fa-fw"></i> {{ _('management center') }}</a>
            </li>
        {%- if permission_production_section.can() -%}
            <li{% if 'production/' in request.path %} class="active"{% endif %}>
                <a id="menu-production" href="#"><i class="fa fa-gift fa-fw"></i> {{ _('production management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('production.lists') }}">{{ _('production lists') }}</a>
                    </li>
                    {%- if permission_production_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('production.add') }}">{{ _('production add') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a id="menu-production-sensitive" href="#">{{ _('production sensitive management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('production_sensitive.lists') }}">{{ _('production sensitive lists') }}</a>
                            </li>
                            {%- if permission_production_section_add.can() -%}
                            <li>
                                <a href="{{ url_for('production_sensitive.add') }}">{{ _('production sensitive add') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_user_section.can() -%}
            <li{% if 'user/' in request.path %} class="active"{% endif %}>
                <a id="menu-user" href="#"><i class="fa fa-users fa-fw"></i> {{ _('user management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('user.lists') }}">{{ _('user lists') }}</a>
                    </li>
                    {%- if permission_user_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('user.add') }}">{{ _('user add') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {%- if permission_customer_section.can() -%}
            <li{% if 'customer/' in request.path %} class="active"{% endif %}>
                <a id="menu-customer" href="#"><i class="fa fa-table fa-fw"></i> {{ _('customer management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('customer.lists') }}">{{ _('customer lists') }}</a>
                    </li>
                    {%- if permission_customer_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('customer.add') }}">{{ _('customer add') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('customer_invoice.lists') }}">{{ _('customer invoice lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customer_contact.lists') }}">{{ _('customer contact lists') }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_supplier_section.can() -%}
            <li{% if 'supplier/' in request.path %} class="active"{% endif %}>
                <a id="menu-supplier" href="#"><i class="fa fa-tags fa-fw"></i> {{ _('supplier management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('supplier.lists') }}">{{ _('supplier lists') }}</a>
                    </li>
                    {%- if permission_supplier_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('supplier.add') }}">{{ _('supplier add') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('supplier_invoice.lists') }}">{{ _('supplier invoice lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('supplier_contact.lists') }}">{{ _('supplier contact lists') }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_quotation_section.can() -%}
            <li{% if 'quotation/' in request.path %} class="active"{% endif %}>
                <a id="menu-quotation" href="#"><i class="fa fa-file-text fa-fw"></i> {{ _('quotation management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('quotation.lists') }}">{{ _('quotation lists') }}</a>
                    </li>
                    {%- if permission_quotation_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('quotation.add') }}">{{ _('quotation add') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('quotation_items.lists') }}">{{ _('quotation item lists') }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_enquiry_section.can() -%}
            <li{% if 'enquiry/' in request.path %} class="active"{% endif %}>
                <a id="menu-enquiry" href="#"><i class="fa fa-file fa-fw"></i> {{ _('enquiry management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('enquiry.lists') }}">{{ _('enquiry lists') }}</a>
                    </li>
                    {%- if permission_enquiry_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('enquiry.add') }}">{{ _('enquiry add') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('enquiry_items.lists') }}">{{ _('enquiry item lists') }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_sales_order_section.can() or permission_delivery_section.can() -%}
            <li{% if 'sales/' in request.path %} class="active"{% endif %}>
                <a id="menu-sales" href="#"><i class="fa fa-briefcase fa-fw"></i> {{ _('sales management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="menu-sales-order" href="#">{{ _('sales order management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('sales_order.lists') }}">{{ _('sales order lists') }}</a>
                            </li>
                            {%- if permission_sales_order_section_add.can() -%}
                            <li>
                                <a href="{{ url_for('sales_order.add') }}">{{ _('sales order add') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a id="menu-sales-delivery" href="#">{{ _('delivery management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('delivery.lists') }}">{{ _('delivery lists') }}</a>
                            </li>
                            {%- if permission_delivery_section_add.can() -%}
                            <li>
                                <a href="{{ url_for('delivery.add') }}">{{ _('delivery add') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_buyer_order_section.can() or permission_purchase_section.can() -%}
            <li{% if 'buyer/' in request.path %} class="active"{% endif %}>
                <a id="menu-buyer" href="#"><i class="fa fa-cart-plus fa-fw"></i> {{ _('buyer management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="menu-buyer-order" href="#">{{ _('buyer order management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('buyer_order.lists') }}">{{ _('buyer order lists') }}</a>
                            </li>
                            {%- if permission_buyer_order_section_add.can() -%}
                            <li>
                                <a href="{{ url_for('buyer_order.add') }}">{{ _('buyer order add') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a id="menu-buyer-purchase" href="#">{{ _('purchase management') }} <span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('purchase.lists') }}">{{ _('purchase lists') }}</a>
                            </li>
                            {%- if permission_purchase_section_add.can() -%}
                            <li>
                                <a href="{{ url_for('purchase.add') }}">{{ _('purchase add') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_warehouse_section.can() -%}
            <li{% if 'warehouse/' in request.path %} class="active"{% endif %}>
                <a id="menu-warehouse" href="#"><i
                        class="fa fa-building fa-fw"></i> {{ _('warehouse management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('warehouse.lists') }}">{{ _('warehouse lists') }}</a>
                    </li>
                    {%- if permission_warehouse_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('warehouse.add') }}">{{ _('warehouse add') }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a id="menu-rack" href="#">{{ _('rack management') }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('rack.lists') }}">{{ _('rack lists') }}</a>
                            </li>
                            {%- if permission_rack_section_add.can() -%}
                            <li>
                                <a href="{{ url_for('rack.add') }}">{{ _('rack add') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_inventory_section.can() -%}
            <li{% if 'inventory/' in request.path %} class="active"{% endif %}>
                <a id="menu-inventory" href="#"><i class="fa fa-cubes fa-fw"></i> {{ _('inventory management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('inventory.lists') }}">{{ _('inventory lists') }}</a>
                    </li>
                    {%- if permission_inventory_section_add.can() -%}
                    <li>
                        <a href="{{ url_for('inventory.add') }}">{{ _('inventory add') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {%- if False and(permission_role_administrator.can() or permission_role_accountant.can()) -%}
            <li{% if 'accountant/' in request.path %} class="active"{% endif %}>
                <a id="menu-accountant" href="#"><i
                        class="fa fa-bar-chart fa-fw"></i> {{ _('accountant management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('warehouse.lists') }}">{{ _('accountant lists') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('warehouse.add') }}">{{ _('accountant add') }}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {%- if permission_role_administrator.can() -%}
            <li{% if 'system/' in request.path %} class="active"{% endif %}>
                <a id="menu-system" href="#"><i class="fa fa-cog fa-fw"></i> {{ _('system management') }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="menu-data-import" href="#">{{ _('data import') }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="{{ url_for('system.catalogue_import') }}">{{ _('catalogue import') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('system.production_import') }}">{{ _('production import') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('system.quotation_import') }}">{{ _('quotation import') }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('system.futures_import') }}">{{ _('futures import') }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
