{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            {#        <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>#}
            <li class="active">{{ _('personal information') }}</li>
        </ol>
        <section id="statistics">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">{{ _('Statistics') }}
                        <span class="glyphicon glyphicon-stats pull-right"></span>
                    </strong>
                </div>
                <table class="table table-bordered text-center">
                    <tr>
                        <td class="col-lg-4 col-md-4 col-sm-4">
                            <span class="text-muted center-block">{{ _('Total number of customer') }}</span>
                            <h2 class="center-block">{{ current_user.id | count_customer }}</h2>
                            <span class="text-muted center-block">{{ _('Latest customer') }}: {% if latest_customer %}{{ moment(latest_customer.create_time).format('YYYY-MM-DD HH:mm') }}{% else %}-{% endif %}</span>
                        </td>
                        <td class="col-lg-4 col-md-4 col-sm-4">
                            <span class="text-muted center-block">{{ _('Total number of quotation') }}</span>
                            <h2 class="center-block">{{ current_user.id | count_quotation }}</h2>
                            <span class="text-muted center-block">{{ _('Latest quotation') }}: {% if latest_quotation %}{{ moment(latest_quotation.create_time).format('YYYY-MM-DD HH:mm') }}{% else %}-{% endif %}</span>
                        </td>
                        <td class="col-lg-4 col-md-4 col-sm-4">
                            <span class="text-muted center-block">{{ _('Total number of transaction') }}</span>
                            <h2 class="center-block">{{ current_user.id | count_transaction }}</h2>
                            <span class="text-muted center-block">{{ _('Latest transaction') }}: {% if latest_transaction %}{{ moment(latest_transaction.create_time).format('YYYY-MM-DD HH:mm') }}{% else %}-{% endif %}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <div class="col-md-8 col-sm-offset-2 text-center">
            <h2 class="sub-header">{{ _('Welcome') }}</h2>
            <p>
                {% if g.user_agent.is_pc %}<i class="fa fa-desktop fa-fw"></i>{% endif %}
                {% if g.user_agent.is_mobile %}<i class="fa fa-mobile fa-fw"></i>{% endif %}
                {% if g.user_agent.is_tablet %}<i class="fa fa-tablet fa-fw"></i>{% endif %}
                {{ g.user_agent.os.family }} {{ g.user_agent.os.version_string }}
            </p>
            <p>{{ g.user_agent.browser.family }} {{ g.user_agent.browser.version_string }}</p>
            <div id="current_time">{{ moment().format('dddd, YYYY-MM-DD, a hh:mm:ss') }}</div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(function () {
            // 当前时间同步刷新
            var update_time;
            (update_time = function () {
                $('#current_time').html(moment().format('dddd, YYYY-MM-DD, a hh:mm:ss'))
            })()
            setInterval(update_time, 1000)
        })
    </script>
{% endblock %}