<!DOCTYPE html>
<html lang="{{ g.lang | default('en', True) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="application-name" content="{{ APP_NAME | default('') }}">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="{{ KEYWORDS | default('') }}">
    <meta name="description" content="{{ DESCRIPTION | default('') }}">
    <meta name="author" content="{{ AUTHOR | default('') }}">
    <title>{% if TITLE %}{{ TITLE | default('') }} - {% endif %}{{ PROJECT_NAME | default('') }}</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    {% block extra_css %}
        <style>
            .preview {
                position: relative;
                background: #fff;
                border: 1px solid #f4f4f4;
                padding: 20px;
                margin: 10px 25px
            }

            .page-header {
                margin: 10px 0 20px 0;
                font-size: 22px
            }

            .page-header > small {
                color: #666;
                display: block;
                margin-top: 5px
            }

            @media print {
                .preview {
                    width: 100%;
                    border: 0;
                    margin: 0;
                    padding: 0
                }

                .table-responsive {
                    overflow: auto
                }

                .table-responsive > .table tr th, .table-responsive > .table tr td {
                    white-space: normal !important
                }
            }
        </style>
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{#<body onload="window.print();window.close()">#}
{#<body onload="window.print();">#}
<body>
<div class="wrapper">
    <!-- Main content -->
    <section class="preview">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h4 class="page-header">
{#                    <span class="glyphicon glyphicon-globe"#}
{#                          aria-hidden="true"></span> #}
                    <img style="height: 20px; width: 88px; margin-bottom: 5px" src="{{ url_for('static', filename='img/skf.png') }}" height="20px" width="88px"> {{ _('Xinai Electromechainical Technology (shanghai) Co., Ltd.') }}
{#                    <small class="pull-right">{{ _('Print Date') }}: {{ moment(quotation_info.update_time).format('YYYY-MM-DD') }}</small>#}
                    <small class="pull-right">{{ _('Print Date') }}: {{ quotation_print_date }}</small>
                    <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->
                    <small>Xinai Electromechainical Technology (shanghai) Co., Ltd.</small>
                </h4>
            </div><!-- /.col -->
        </div>
        <div class="text-center">
            <h3 style="margin-top: 0"><u>{{ _('Quotation') }}</u></h3>
        </div>
        <!-- info row -->
        <div class="row preview-info">
            <div class="col-xs-8">
                <strong>客户名称: {{ quotation_info.cid | customer_company_name }}</strong>
                <address>
                    <br>
                    客户地址: {{ customer_info.company_address }}<br>
                    联系人: {{ customer_contact_info.name }}
                    <small>{{ customer_contact_info.salutation }}</small>
                    <br>
                    手机: {{ customer_contact_info.mobile }}<br/>
                    电话: {{ customer_contact_info.tel }}<br/>
                    传真: {{ customer_contact_info.fax }}<br/>
                    邮箱: {{ customer_contact_info.email }}
                </address>
            </div><!-- /.col -->
            <div class="col-xs-4">
{#                <b>报价单号: XABJ{{ moment(quotation_info.create_time).format('YYMMDDHHmmss') }}</b><br/>#}
                <b>报价单号: {{ quotation_code }}</b><br/>
                <b>报价效期:</b> 一周<br/>
                <br/>
                报价人: {{ user_info.name }}
                <small>{{ user_info.salutation }}</small>
                <br>
                手机: {{ user_info.mobile }}<br/>
                电话: {{ user_info.tel }}<br/>
                传真: {{ user_info.fax }}<br/>
                邮箱: {{ user_info.email }}
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="min-width: 2em">{{ _('#') }}</th>
                        <th style="min-width: 2em">{{ _('production brand') }}</th>
                        <th style="min-width: 4em">{{ _('production model') }}</th>
                        <th>{{ _('production sku') }}</th>
                        <th class="text-right" style="min-width: 2em">{{ _('quantity') }}</th>
                        <th class="text-right">{{ _('Tax unit price') }}</th>
                        <th class="text-right">{{ _('Subtotal') }}</th>
                        <th style="min-width: 3em">{{ _('delivery time') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quotation_item in quotation_items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ quotation_item.production_brand }}</td>
                        <td>{{ quotation_item.enquiry_production_model or quotation_item.production_model }}</td>
                        <td>{{ quotation_item.production_sku }}</td>
                        <td class="text-right">{{ quotation_item.quantity }}</td>
                        <td class="text-right">￥{{ quotation_item.unit_price }}</td>
                        <td class="text-right">￥{{ quotation_item.quantity*quotation_item.unit_price }}</td>
                        <td>{{ quotation_item.delivery_time }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6 hidden">
                <p class="lead">Payment Methods:</p>
                <img src="{{ url_for('static', filename='img/credit/visa.png') }}" alt="Visa"/>
                <img src="{{ url_for('static', filename='img/credit/mastercard.png') }}" alt="Mastercard"/>
                <img src="{{ url_for('static', filename='img/credit/american-express.png') }}" alt="American Express"/>
                <img src="{{ url_for('static', filename='img/credit/paypal.png') }}" alt="Paypal"/>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango
                    imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>
            </div><!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">备注:</p>
                <div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    <ol>
                        <li>产品按照原产标准提供。</li>
                        <li>发货方式: 德邦物流。</li>
{#                        <li>含16%增值税。</li>#}
                        <li>空运费以实际产生费用为准。</li>
                    </ol>
                </div>


            </div><!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">{{ _('Amount') }}:</p>
                <div class="table-responsive">
                    <table class="table">
{#                        <tr>#}
{#                            <th style="width:50%">Subtotal:</th>#}
{#                            <td>$250.30</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th>货值</th>#}
{#                            <td>￥645.00</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th>运费:</th>#}
{#                            <td>￥0.00</td>#}
{#                        </tr>#}
                        <tr>
                            <th>{{ _('Total') }}:</th>
                            <td>￥{{ quotation_info.amount_quotation }}</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->
    {% include "_footer_print.html" %}
</div>

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Moment Plugin JavaScript -->
<script src="{{ url_for('static', filename='plugin/moment-2.18.1/min/moment-with-locales.min.js') }}"></script>

{% block extra_js %}
    <script>
        moment.locale('{{ g.moment_locale }}')

        function flask_moment_render (elem) {
            $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'))
            $(elem).removeClass('flask-moment').show()
        }

        function flask_moment_render_all () {
            $('.flask-moment').each(function () {
                flask_moment_render(this)
                if ($(this).data('refresh')) {
                    (function (elem, interval) {
                        setInterval(function () {
                            flask_moment_render(elem)
                        }, interval)
                    })(this, $(this).data('refresh'))
                }
            })
        }

        $(document).ready(function () {
            flask_moment_render_all()
        })
    </script>
{% endblock %}
</body>

</html>
