{% extends "layout.html" %}

{% block extra_css %}
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugin/jQuery-File-Upload-9.21.0/css/jquery.fileupload.css') }}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-system').trigger('click');">{{ _('system management') }}</a></li>
            <li class="active">{{ _('production import') }}</li>
        </ol>


        <div class="panel panel-default">
            <div class="panel-body">
                <blockquote>
                    <p class="small">
                        {{ _('File Upload Instructions') }}<br>
                        {{ _('The import operation will clears the history data') }}<br>
                        {{ _('File format requirements') }}: .csv、.xls、.xlsx<br>
                        {{ _('File size requirements') }}: {{ _('below %(file_size)s', file_size='4 MB') }}
                    </p>
                </blockquote>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{{ _('Upload file') }}</span>
                        <!-- The file input field used as target for the file upload widget -->
                    <input id="file_upload" type="file" name="file">
                </span>
                    <p>
                        <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div id="progress-bar" role="progressbar" class="progress-bar progress-bar-success"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
                        </div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                    <!-- The container for the import process -->
                    <div id="import_process"></div>
                    <!-- The container for the import result -->
                    <div id="import_result"></div>
                    <!-- The container for the errors -->
                    <div id="errors" class="error text-danger"></div>
                    <br>
                </form>
            </div>
            <div class="panel-footer">{{ _('Reference Format') }}: <a href="{{ url_for('static', filename='csv/产品明细.csv') }}" rel="tooltip" title="{{ _('Click download') }}">{{ _('production record') }}.csv</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{{ url_for('static', filename='plugin/jQuery-File-Upload-9.21.0/js/vendor/jquery.ui.widget.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ url_for('static', filename='plugin/jQuery-File-Upload-9.21.0/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ url_for('static', filename='plugin/jQuery-File-Upload-9.21.0/js/jquery.fileupload.js') }}"></script>
    <script>
        /*jslint unparam: true */
        /*global window, $ */
        $(function () {
            'use strict';
            // Change this to the location of your server-side upload handler:
            var url = '{{ url_for("system.production_import") }}';
            $('#file_upload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.result === true) {
                        $('#files').append('<p class="text-info">' + data.result.file_info.name + '\t' + data.result.file_info.size + '</p>');

                        $('#import_process').remove();
                        var import_result_obj = $('#import_result');
                        import_result_obj.append('<p class="text-success">{{ _('Number of historical data that have been emptied') }}: ' + data.result.import_info.delete_count + '</p>');
                        import_result_obj.append('<p class="text-success">{{ _('Number of file records') }}: ' + data.result.import_info.csv_count + '</p>');
                        import_result_obj.append('<p class="text-success">{{ _('Number of successful imports') }}: ' + data.result.import_info.db_count + '</p>');
                        {#                $.each(data.result.files, function (index, file) {#}
                        {#                    $('<p/>').text(file.name + '\t' + file.size).appendTo('#files');#}
                        {#                });#}
                    } else {
                        $('#errors').append(data.result.msg);
                        var progress_bar_obj = $('#progress-bar');
                        progress_bar_obj.text('0%');
                        progress_bar_obj.css(
                            'width',
                            '0%'
                        );
                    }

                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    var progress_bar_obj = $('#progress-bar');
                    progress_bar_obj.text(progress + '%');
                    progress_bar_obj.css(
                        'width',
                        progress + '%'
                    );
                    $('#import_process').append('<p class="text-info">{{ _('File upload completed') }}, {{ _('importing') }}...</p>');
                }

            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}
