body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.fa {
    font-size: initial;
}

/*闪现消息顶部固定*/
.alert-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1040;
}

/*面包屑导航*/
.breadcrumb {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*垂直居中*/
.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.transparent-panel-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
