body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.fa {
    font-size: initial;
}

/*闪现消息顶部固定*/
.alert-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1040;
}

/*面包屑导航*/
.breadcrumb {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*垂直居中*/
.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.transparent-panel-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

table.items_table tr td {
    border-top: 0;
}

table tr th,td {
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
     padding: 5px;
     vertical-align: middle;
}

.pagination {
     margin-top: 0;
}

.panel-title-sm {
    font-size: 14px;
}

.select_all_label {
    cursor: pointer;
    margin-bottom: 0;
}

.input-required {
    color: #FF0000;
    margin-bottom: 0;
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    line-height: 1.5;
}

/*表格内容自适应*/
.td-12 {
    max-width: 12em; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}

.td-24 {
    max-width: 24em; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}

.td-36 {
    max-width: 36em; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}

.td-op {
    min-width: 8em; text-align: right;
}

/*文本域仅允许垂直拉伸*/
textarea {
    overflow: auto;
    resize: vertical;
}
