{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-warehouse').trigger('click')">{{ _('warehouse management') }}</a></li>
            <li class="active">{{ _('warehouse edit') }}</li>
        </ol>
        <form class="form-horizontal" method="post" action="">
            {{ form.csrf_token }}
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                {{ form.name.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.name(class="form-control", title=form.name.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.name.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.address.errors %} has-error{% endif %}">
                {{ form.address.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.address(class="form-control", title=form.address.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.address.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.linkman.errors %} has-error{% endif %}">
                {{ form.linkman.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.linkman(class="form-control", title=form.linkman.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.linkman.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.tel.errors %} has-error{% endif %}">
                {{ form.tel.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.tel(class="form-control", title=form.tel.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.tel.description }}</span>
                </div>
            </div>
            <div class="form-group{% if form.fax.errors %} has-error{% endif %}">
                {{ form.fax.label(class="col-sm-2 control-label") }}
                <div class="col-sm-6">
                    {{ form.fax(class="form-control", title=form.fax.errors|join(', ')) }}
                </div>
                <div class="col-sm-4">
                    <span class="help-block hidden-xs">{{ form.fax.description }}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-load"
                            data-loading-text="{{ _('Submitting') }}">{{ _('Submit') }}</button>
                    <button type="reset" class="btn btn-default">{{ _('Reset') }}</button>
                    <button class="btn btn-default" onclick="history.back();return false">{{ _('Go Back') }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
