{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-customer').trigger('click')">{{ _('customer management') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-customer-contact').trigger('click')">{{ _('customer contact management') }}</a></li>
            <li class="active">{{ _('customer contact add') }}</li>
        </ol>

        <form class="form-inline" id="search_form" method="post">
            {{ form.csrf_token }}

            <div class="form-group{% if form.cid.errors or form.company_name.errors %} has-error{% endif %}">
                {{ form.cid(class="hidden") }}
                {{ form.company_name.label() }}
                <div class="input-group">
                    {{ form.company_name(
                        class="form-control input-sm",
                        title=form.cid.errors|join(', ') or form.company_name.errors|join(', '),
                        autocomplete="off"
                        )
                    }}
                    <span class="input-group-addon glyphicon glyphicon-option-horizontal customer_select_search_btn"
                          style="top: 0; cursor:pointer;" data-toggle="modal"
                          data-target="#customer_select_modal"></span>
                </div>
            </div>

        <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <button type="submit" class="btn-sm btn-success btn-load"
                    data-loading-text="{{ _('Submitting') }}">{{ _('Submit') }}</button>
                <button type="reset" class="btn-sm btn-default">{{ _('Reset') }}</button>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

            <div class="table-responsive">
{#                         <table class="table table-striped">#}
                <table class="table table-hover table-condensed items_table">
                    <thead>
                    <tr>
                        <th>{{ _('#') }}</th>
                        <th>{{ _('contact name') }}</th>
                        <th>{{ _('salutation') }}</th>
                        <th>{{ _('mobile') }}</th>
                        <th>{{ _('address') }}</th>
                        <th>{{ _('tel') }}</th>
                        <th>{{ _('fax') }}</th>
                        <th>{{ _('note') }}</th>
                        <th>{{ _('default status') }}</th>
                        <th>{{ _('Option') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in form.customer_contact_items %}
                        <tr class="text-muted">
                            <td>
                                <span readonly="readonly" class="form-control input-sm">{{ loop.index }}</span>
                            </td>
                            <td class="{% if info.contact_name.errors %} has-error{% endif %}">
                                {{ info.contact_name(class="form-control input-sm", title=info.contact_name.errors|join(', '), style="min-width: 4em;max-width: 6em;") }}
                            </td>
                            <td class="{% if info.salutation.errors %} has-error{% endif %}">
                                {{ info.salutation(class="form-control input-sm", title=info.salutation.errors|join(', '), style="min-width: 4em; max-width: 6em; ") }}
                            </td>
                            <td class="{% if info.mobile.errors %} has-error{% endif %}">
                                {{ info.mobile(class="form-control input-sm", title=info.mobile.errors|join(', '), style="min-width: 9em; max-width: 9em; ") }}
                            </td>
                            <td class="{% if info.address.errors %} has-error{% endif %}">
                                {{ info.address(class="form-control input-sm", title=info.address.errors|join(', '), style="min-width: 22em; max-width: 24em; ") }}
                            </td>
                            <td class="{% if info.tel.errors %} has-error{% endif %}">
                                {{ info.tel(class="form-control input-sm", title=info.tel.errors|join(', '), style="min-width: 4em;") }}
                            </td>
                            <td class="{% if info.fax.errors %} has-error{% endif %}">
                                {{ info.fax(class="form-control input-sm", title=info.fax.errors|join(', '), style="min-width: 4em;") }}
                            </td>
                            <td class="{% if info.note.errors %} has-error{% endif %}">
                                {{ info.note(class="form-control input-sm", title=info.note.errors|join(', '), style="min-width: 4em; max-width: 7em; ") }}
                            </td>
                            <td class="{% if info.status_default.errors %} has-error{% endif %}">
                                {{ info.status_default() }}
                                {{ info.status_default.label() }}
                            </td>
                            <td style="min-width: 6em;">
                                <button type="submit" class="input-sm glyphicon glyphicon-plus" name="data_line_add"
                                        value="{{ loop.index0 }}" rel="tooltip" title="{{ _('Add') }}"></button>
                                <button type="submit" class="input-sm glyphicon glyphicon-minus" name="data_line_del"
                                        value="{{ loop.index0 }}" rel="tooltip" title="{{ _('Delete') }}"></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        <hr/>
    </div>
    <!-- 客户搜索 -->
    {% include "modal/customer_select.html" %}


{% endblock %}

{% block extra_js %}
<!-- 客户搜索 -->
{% include "modal/customer_select_js.html" %}
{% endblock %}
