{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">{{ _('management center') }}</a></li>
            <li><a href="javascript:void(0);"
                   onclick="$('#menu-customer').trigger('click')">{{ _('customer management') }}</a></li>
            <li class="active">{{ _('customer contact lists') }}</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSearch">
                <h4 class="panel-title panel-title-sm">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch"
                       aria-expanded="true" aria-controls="collapseSearch">
                        {{ _('Search toolbar') }}
                        <span class="panel_resize_btn glyphicon glyphicon-resize-small pull-right" style="cursor: pointer;" title="{{ _('Resize') }}" rel="tooltip" data-placement="left"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingSearch">
                <div class="panel-body">
                    <form class="form-inline" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group{% if form.cid.errors or form.company_name.errors %} has-error{% endif %}">
                            {{ form.cid() }}
                            {{ form.company_name.label() }}
                            <div class="input-group">
                                {{ form.company_name(
                                    class="form-control input-sm",
                                    title=form.cid.errors|join(', ') or form.company_name.errors|join(', '),
                                    autocomplete="off"
                                    )
                                }}
                                <span class="input-group-addon glyphicon glyphicon-option-horizontal customer_select_search_btn"
                                      style="top: 0; cursor:pointer;" data-toggle="modal"
                                      data-target="#customer_select_modal"></span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm{% if form.contact_name.errors %} has-error{% endif %}">
                            {{ form.contact_name.label() }}
                            {{ form.contact_name(class="form-control") }}
                        </div>
                        <div class="form-group form-group-sm{% if form.address.errors %} has-error{% endif %}">
                            {{ form.address.label() }}
                            {{ form.address(class="form-control") }}
                        </div>
                        <div class="form-group form-group-sm{% if form.mobile.errors %} has-error{% endif %}">
                            {{ form.mobile.label() }}
                            {{ form.mobile(class="form-control") }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm" name="op"
                                value="0">{{ _('Search') }}</button>
                        <button type="submit" class="btn btn-primary btn-sm" name="op"
                                value="1">{{ _('Export') }}</button>
                        <button type="submit" class="btn-sm btn-danger delete_all" name="op"
                                    value="2">{{ _('Delete') }}</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            {#         <table class="table table-striped">#}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <label>
                            <input class="select_all" name="customer_contact_ids" title="{{ _('Select All') }}"
                                   rel="tooltip" type="checkbox" value=""/>
                            {{ _('Select All') }}
                        </label>
                    </th>

                    <th>{{ _('customer company') }}<br/>{{ _('address') }}</th>
                    <th>{{ _('contact name') }}</th>
                    <th>{{ _('salutation') }}</th>
                    <th>{{ _('mobile') }}</th>
                    <th>{{ _('tel') }}<br/>{{ _('fax') }}</th>
                    <th>{{ _('email') }}</th>
                    <th>{{ _('default status') }}</th>
                    <th>{{ _('operation') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for info in pagination.items %}
                    <tr class="text-muted item">
                        <td style="width: 5em;">
                            <label>
                                <input class="select_item" name="customer_contact_id" title="{{ _('Select') }}"
                                       rel="tooltip" type="checkbox" value="{{ info.id }}"/>
                            </label>
                        </td>

                        <td style="width: 18em;">{{ info.cid | customer_company_name }}<br/>{{ info.address}}</td>
                        <td style="width: 4em;">{{ info.name}}</td>
                        <td style="width: 4em;">{{ info.salutation}}</td>
                        <td style="width: 4em;">{{ info.mobile}}</td>
                        <td style="width: 11em;">{{ info.tel}}<br/>{{ info.fax}}</td>
                        <td style="width: 11em;">{{ info.email}}</td>
                        <td style="width: 4em;">{{ info.status_default | status_default}}</td>
                        <td style="width: 7em;">
                            <!-- Split button -->
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ url_for('customer_contact.edit', customer_id=info.cid, next=request.path) }}">
                                    <span class="glyphicon glyphicon-pencil"></span> {{ _('Edit') }}
                                </a>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="javascript:void(0);" onclick="customer_contact_delete({{ info.id }})">
                                            <span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}
                                        </a>
                                    </li>
{#                                    <li role="separator" class="divider"></li>#}
{#                                    <li>#}
{#                                        <a href="{{ url_for('quotation.preview', quotation_id=info.id, next=request.path) }}" target="_blank">#}
{#                                            <span class="glyphicon glyphicon-print"></span> {{ _('Print') }}#}
{#                                        </a>#}
{#                                    </li>#}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# 翻页 #}
            {% from "macros.html" import render_pagination_post %}
            {{ render_pagination_post(pagination, 'customer_contact.lists') }}
        </div>
    </div>

    <!-- 客户搜索 -->
    {% include "modal/customer_select.html" %}

{% endblock %}

{% block extra_js %}
<!-- 客户搜索 -->
{% include "modal/customer_select_js.html" %}

<script>
    // 联系方式删除
    function customer_contact_delete (customer_contact_id) {
        if (confirm('{{ _('Deleted data can not be recovered, whether to confirm deletion?') }}')) {
            $.getJSON('{{ url_for('customer_contact.ajax_delete') }}',
                {
                    customer_contact_id: customer_contact_id
                }, function (data) {
                    if (data.result === true) {
                        alert(data.msg)
                    } else {
                        alert(data.msg)
                    }
                    window.location.reload()
                })
            return false
        }
    }

</script>
{% endblock %}
